{%if bool == True%}
Inactive
{% else %}
Time Active: {{hours}}h {{minutes}}
{% endif %}
<datalist id="users">
    {% for user in users%}
    <option value={{user.username}} ">
    {% endfor%}
  </datalist>
  <form action="{%url 'search'%}" method="post">
    {%csrf_token%}
    <input type="text" list="users" name="res"> Search For Users<br>
    <button id= "demo" type="submit">Search</button>
  </form><br>
<a href="{%url 'logout'%}"><button>Logout</button></a><br>
<a href="{%url 'reinit'%}"><button>New Session</button></a><br>
<table>
  <tr>
<th>No.</th>
<th>Requests</th>
</tr>
<tr>
{% for result in requests %}
<tr>
<td>{{forloop.counter}}</td>
<td>{{result.username}}</td>
  <form action="{%url 'accept' result.username%}" method='post'>
{%csrf_token%}
<td><button type="submit">Accept</button></td>
      </form>
</tr>
{%endfor%}
</table>
<br> <br><br>
Active Friends
<table>
  <tr>
    <th>Sr.NO</th>
    <th>Username</th>
    <th>Software</th>
    <th>Domain</th>
    <th>Time Active</th>
  </tr>
  {% for friend,domain,software,hour,minute,bol in myList %}
  <tr>
    {% if bol == True%}
    <td>{{forloop.counter}}</td>
    <td>{{friend}}</td>
    <td>Chilling</td>
    <td></td>
    <td></td>
    {%else%}
    <td>{{forloop.counter}}</td>
    <td>{{friend}}</td>
    <td>{{software.name}}</td>
    <td>{{domain.name}}</td>
    <td>{{hour}}h{{minute}}</td>
    {%endif%}
  </tr>
  {% endfor%}
  <!-- <script>
    var home='127.0.0.1:8000/devcord/home'
    window.location.replace(home);
  </script> -->