
{% load crispy_forms_tags %}

<!--Login--> 
<div class="container py-5">
  <h1>Login</h1>
  <form action="{%url 'login'%}" method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  {% if messages %}
  <ul>
      {% for message in messages %}
         <li style="color:rgb(15, 12, 12);">{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
</div>
