Please Select your software:
<style>
    .hidden{
        display:none;
    }
    .show{
        display:block;
    }
</style>
<form >
    <label for="softwares">Choose software:</label>
    <select name="software" id="softwares" onchange=myFunction()>
        {%for soft in software%}
      <option value="{{soft.executable}}" >{{soft.name}}</option>
      {%endfor %}
    </select>
    {%for di in dict%}
{% for soft, domain in di.items %}
<h2>{{soft.executable}}</h2>
{{domain}}
{% endfor %}{% endfor %}

{%for di in dict%}
{% for soft, domain in di.items %}
<h2>{{soft.executable}}</h2>
    <div  id="{{soft.executable}}" class="optionopop hidden">
        <label for="domain">Choose Domain:</label>
        <select name="domain" id="domain"> 
            {%for dom in domain%}
          <option value="{{dom.name}}" >{{dom.name}}</option>
          {%endfor %}
        </select>
    </div>
{% endfor %}{% endfor %}
</form>
<div id="length">{{length}}</div>
<script>
    // myFunction();
    localStorage.setItem("prev", "");

    function myFunction() {
        // console.log(document.getElementById("softwares").value);
        const a=document.getElementById("softwares").value;
        // console.log(a);
        document.getElementById(`${a}`).classList.add('show');
        const b=localStorage.getItem("prev");
        // console.log(b);
        // console.log(document.getElementById(`${b}`));
        if(b!=''){
        document.getElementById(`${b}`).classList.remove('show');
        }
        localStorage.setItem("prev", `${a}`);
    }
    </script>  
