Please Select your software:
<style>
    .hidden{
        display:none;
    }
    .show{
        display:block;
    }
</style>
<form >
    <label for="softwares">Choose software:</label>
    <select name="software" id="softwares">
        {%for soft in software%}
      <option value="{{soft.executable}}" onclick="myFunction()">{{soft.name}}</option>
      {%endfor %}
    </select>
    {%for di in dict%}
{% for soft, domain in di.items %}
<h2>{{soft.executable}}</h2>
{{domain}}
{% endfor %}{% endfor %}

{%for di in dict%}
{% for soft, domain in di.items %}
<h2>{{soft.executable}}</h2>
    <div  id="{{soft.executable}}" class="optionopop hidden">
        <label for="domain">Choose Domain:</label>
        <select name="domain" id="domain"> 
            {%for dom in domain%}
          <option value="{{dom.name}}" onclick="myFunction()">{{dom.name}}</option>
          {%endfor %}
        </select>
    </div>
    <textarea id="{{forloop.counter}}">
{{soft.executable}}
    </textarea>
{% endfor %}{% endfor %}
</form>
<div id="length">{{length}}</div>
<script>
    function myFunction() {
        console.log(document.getElementById("softwares").value);
        const a=document.getElementById("softwares").value;
        console.log(a);
        const b=parseInt(document.getElementById("length").textContent);
        console.log(b); 
        const z=document.getElementById('0').value;
        console.log(z);
        for(let i=0;i<b;i++){
            let c=document.getElementById(`${i}`).value;
            console.log(c);
            document.getElementById(`${c}`).classList.remove('show');
        }
        // document.getElementsByClassName("optionopop").classList.remove('show');
        document.getElementById(`${a}`).classList.add('show');


    }
    </script>  
